*.aux
*.log
*.toc
*.lof
*.bak
*.loa
*.log
*.lot
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.dvi
*.out
*.brf
*.thm
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.bcf
*.run.xml
*.synctex.gz
*-blx.bib
rm thumbs.db

